body {
  background-color: rgb(231, 174, 153);
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 15vh;
}

#date {
  width: 250px;
  padding: 15px auto;
  margin: 20px auto;
}

input {
  padding: 5px;
  border-radius: 2.5px;
  border: 1px solid white;
}

#next, #content {
  color: rgb(24, 65, 202);
}

#time-left {
  padding-top: 15px;
}

h3{
  color: darkgoldenrod;
  position: fixed;
  text-align: center;
  bottom: 0;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}